body{}
.contain
{
	width:500px;
	height:500px;
	background-image: url('D:\_9d910eb0-d214-11e8-9a37-2776cb441552.jpg');
	margin:auto;
	background-size: 100% 100%;
	display: inline-block;
	position: relative;
	overflow:hidden;
}
	
.contain .span1
{
    width: 100%;
    height: 100%;
    transition-duration: 2s;
    position: absolute;
  
    background-color: #ffffff6e;

}
.contain:hover .span1  
{
	width:00%;
	
}
.contain .span2
{
    width: 100%;
    height: 100%;
	bottom:50%;
	right:100%
	
    transition-duration: 2s;
    position: absolute;
    background-color: #ffffff6e;
	

}

.contain:hover .span2 
{
	width:100%;
	
  